* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #1a1719;
    color: white;
    padding: 20px;
    font-family: 'Tektur', cursive;
}
h1 {
    margin-bottom: 20px;
}
.btn {
    appearance: none;
    background-color: #1a1719;
    color: white;
    border: none;
    font-family: 'Tektur', cursive;
    padding: 3px;
    text-decoration: none;
    font-size: 13px;
}
.btn:hover {
    cursor: pointer;
    text-shadow: 0 0 10px #fff,
    0 0 30px #fff,
    0 0 80px #fff;
}

